@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

@import "./base.css";
@import "tailwindcss";

:root {
  --bg-primary: #050816;
  --bg-secondary: #0a1120;
  --bg-card: #101827;

  --primary: #00a63e;
  --primary-hover: #00c94a;
  --accent: #34ff88;
  --glow: #7cffb2;

  --text-primary: #ffffff;
  --text-secondary: #c7d0dd;
  --text-muted: #748298;

  --border: rgba(255, 255, 255, 0.08);
  --border-hover: rgba(255, 255, 255, 0.15);

  --glass: rgba(255, 255, 255, 0.05);

  --gradient-primary: linear-gradient(135deg, #00441994, #34ff88);

  --gradient-primary-dark: linear-gradient(135deg, #000000a4, #097432a6);

  --gradient-hero: radial-gradient(
    circle at top center,
    rgba(0, 166, 62, 0.35),
    transparent 55%
  );
}

html,
body,
#app {
  margin: 0;
  min-height: 100vh;
  font-family: "Jost", sans-serif;
  min-height: 100vh;

  background-color: black;

  /* background-image:
    url("https://raw.githubusercontent.com/prebuiltui/prebuiltui/main/assets/hero/green-gradient-bg.svg"); */

  background-repeat: no-repeat;

  background-position: center top;

  background-size: cover;

  background:
    linear-gradient(-45deg,
      #050816,
      #001b2e,
      #18003a,
      #001f3f,
      #050816);

  background-size: 400% 400%;

  animation: rgbBackground 12s ease infinite;
}

@keyframes rgbBackground {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

html {
  scroll-behavior: smooth;
}

section {
  border-bottom-color: rgba(119, 153, 129, 0.342);
  border-bottom-style: outset;
  border-bottom-width: 1px;
}

body {
  margin: 0;
  padding: 0;
  background: var(--gradient-hero);
  color: var(--text-primary);
  min-height: 100vh;
}

#app {
  padding: 0;
  margin: 0;
  width: 100%;
  font-weight: normal;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--gradient-primary);
  /* background-size: 20% 30%; */
  /* background-repeat: no-repeat; */
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 5px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    flex-wrap: wrap;
  }

  #app {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr;
    /* background-color: var(--gradient-primary); */
  }
}
